# Supabase — pegue no dashboard do seu projeto em Settings > API
NEXT_PUBLIC_SUPABASE_URL=mngnkjafvcqmgxtxwaya
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1uZ25ramFmdmNxbWd4dHh3YXlhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2ODc3OTMsImV4cCI6MjA4OTI2Mzc5M30.OD1_jr9hfI8aTfsE5h1HaHn43oitcDUEqOR9lcJEsis
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1uZ25ramFmdmNxbWd4dHh3YXlhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzY4Nzc5MywiZXhwIjoyMDg5MjYzNzkzfQ.sLrdF2RhPOfVKsYhwHWPwPz-NUrwexcGwKzxgKNDSZo

# URL do site em produção
NEXT_PUBLIC_SITE_URL=https://casasocorrista.vercel.app
